	
		<div id="images" ng-class="imgClass" class="row">
				<img class= "arrows" id="arrow-left" src="../img/arrow-left.svg" ng-click="getPreviousData()">	
			   	<img animate-on-change="portfolioDetailed.img" ng-src="{{portfolioDetailed.img}}">
				<img class="arrows" id="arrow-right" src="../img/arrow-right.svg" ng-click="getNextData()">
		</div>
		

		<div id="data"ng-class="dataClass">
			<div class="portfolio-details" >
				<h1>{{portfolioDetailed.name}}</h1>
				<p>{{portfolioDetailed.description}}</p>
				<div ng-if="portfolioDetailed.link != '' ">
          			<a href="" ng-click="openInNewTab(portfolioDetailed.link)">More Info</a>
       			</div>
			</div>
		</div>
		<hr class="separator"> 
	
	
