
	<div class="row">
		<div id="data"class="col-xs-18 col-sm-4 col-lg-5">
			<div class="portfolio-details" >
				<h1>{{portfolioDetailed.name}}</h1>
				<p>{{portfolioDetailed.description}}</p>
				<div ng-if="portfolioDetailed.link != '' ">
          			<a href="" ng-click="openInNewTab(portfolioDetailed.link)">More Info</a>
       			</div>
			</div>
		</div>
		<div id="images"class="col-xs-18 col-sm-8 col-lg-7">
			<img class="img-responsive" ng-src="{{portfolioDetailed.img}}">
		</div>
	</div>
